{% extends 'main/base.html' %}

{% block title %}
Инфо
{% endblock %}

{% block content %}
	<article itemscope="itemscope" itemtype="http://schema.org/Article" style="height: auto !important;">
		<div class="container" style="height: auto !important;">
		<h1>Информация о калькуляторе</h1>
			<div class="abstract">
    			<p>Калькулятор предназначен для планирования продуктовой части похода.</p>
			</div>
		<h2>Первый запуск</h2>
		<p>При первом запуске автоматически будет загружен список продуктов и появится предложение создать план для похода. Введите:</p>
		<ul>
			<li><p>Название</p></li>
			<li><p>Дату начала и конца похода</p></li>
			<li><p>План калорийности</p></li>
		</ul>
		<p>После добавления информации о походе вы сможете перейти к планированию раскладки.</p>
		<p>В форме планирования добавляйте продукты из списка справа в меню похода (слева). По продуктам есть поиск по имени.</p>
		<div class="note">
			<h4>Примечание</h4>
			<p>Список продуктов пока не полный. Не удивляйтесь, если вы не найдёте там привычной вам еды. Порции тоже могут не соответствовать вашим представлениям.</p>
			<p>Для точного указания порции при добавлении продукта в меню используйте модификатор Ctrl.</p>
		</div>
		<div class="important">
			<h4>Важно</h4>
			<p>На самом деле выбор раскладки не совсем тривиальная задача, в чём вы можете убедиться прочитав, или хотя бы бегло просмотрев, статью <a href="http://barrierorgru.marshruty.ru/index-3.htm">«Питание в туристическом походе»</a>.</p>
			<p>Но для простых походов выходного дня упрощение в 2500 ккал оправдано.</p>
		</div>
		<p></p>
		<h2>Основные элементы интерфейса</h2>
		<p>Выбираете слева приём пищи, например, завтрак, и из списка продуктов справа нажатием &lt; составляете меню. После того как приём пищи спланирован, нажимаете на обед и добавляете продукты в него. И так далее пока весь поход не будет спланирован.</p>
		<p>Многие индикаторы, такие как масса, количество набранных калорий, информационные. Они помогают придерживаться целевых показателей.</p>
		<p>Другие, как граммы и калории у рациона, позволяют менять размер порции.</p>
		<p>Когда планирование завершено, переходите к отчёту закупок. Этот отчёт поможет свести все запланированные продукты в общий список.</p>
	</div>
	</article>
{% endblock %}
